<<<<<<< HEAD
.main{
    height: 100vh;
    display: flex;
    align-items: center;
}
.form1{
   width:500px;
    height: 50%;
    margin: 5%;
=======
.main{
    height: 100vh;
    display: flex;
    align-items: center;
}
.form1{
   width:500px;
    height: 50%;
    margin: 5%;
>>>>>>> 5e232e65d7e3bd0909628c06ae54a8ad2b57fb4c
}