.sign{
    background-color: rgb(11, 99, 11);
    color:aliceblue;
    padding: 4px;
    border-radius:25px ;
}
.perce{
    background-color:black;
    font-family: 'sarif';   
}
.perce h2{
    font-family: 'sarif';
}
.marg{
    margin-top: 25px;
}
.form-control::placeholder{
color: white;
}
.proper{
    text-align: justify;
<<<<<<< HEAD
}
.popup{
    height: 100vh;
=======
>>>>>>> 5e232e65d7e3bd0909628c06ae54a8ad2b57fb4c
}