body {
    overflow-y: hidden;
}
/* 
section {
    background: url('./bg.jpeg') no-repeat;
    background-size: cover;
    height: 850px;
} */

img{
    height: 100px;
    width: 150px;
}

form {
    background-color: black;
    height: 50px;
    width: auto;
    /* opacity: 0.7; */
}

.main h2{
    font-size: 36px;
    line-height: 48px;
    color: rgb(255, 255, 255);
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.box {
    position: absolute;
    left: 400px;
    top: 50px;
    margin: auto;
    height: auto;
    width: 700px;
}


.main {
    height: 850px;
    width: auto;
    background-color: black;
   
    /* opacity: 0.8; */
}